.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BEAEE2;
    padding-bottom: 30px;
}

.usdCls ,.euroCls, .bdtCls{
    margin: auto;
}

input {
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}